<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--
        <style>
          table { border-collapse: collapse; }
          td { border: 1px solid black; }
        </style>
        -->
        <title>Crash Report</title>

         <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap theme -->
        <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/static/css/theme.css" rel="stylesheet">
    </head>
    <body>

        <table class="table table-striped">
            <thead>
              <tr>
                <th align="justify">timestamp</th>
                <th align="justify">appname</th>
                <th align="justify">username</th>
                <th align="justify">userappid</th>
                <th align="justify">deviceinfo</th>
                <th align="justify">message</th>
              </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                  <tr>
                    <td align="justify">{{ entry.timestamp }}</td>
                    <td align="justify">{{ entry.appname }}</td>
                    <td align="justify">{{ entry.username }}</td>
                    <td align="justify">{{ entry.userappid }}</td>
                    <td align="justify">{{ entry.deviceinfo }}</td>
                    <td align="justify">{{ entry.message }} <a href="/crashtracker/show/id/{{ entry.id }}">detail</a></td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>